/*---------------------------------
   Colors
----------------------------------*/


$turquoise:                 #1abc9c;
$green-sea:                 #16a085;

$emerald:                   #2ecc71;
$nephritis:                 #27ae60;

$peter-river:               #3498db;
$belize-hole:               #2980b9;

$amethyst:                  #9b59b6;
$wisteria:                  #8e44ad;

$wet-asphalt:               #34495e;
$midnight-blue:             #2c3e50;

$sun-flower:                #f1c40f;
$orange:                    #f39c12;

$carrot:                    #e67e22;
$pumpkin:                   #d35400;

$alizarin:                  #e74c3c;
$pomegranate:               #c0392b;

$clouds:                    #ecf0f1;
$silver:                    #bdc3c7;

$concrete:                  #95a5a6;
$asbestos:                  #7f8c8d;



/*---------------------------------
   Typography
----------------------------------*/
$font-family-base:              "Lato", sans-serif;
$font-size-base:                 18px;

$font-size-h1:              floor(($font-size-base * 3.444)); // ~62px
$font-size-h2:              ceil(($font-size-base * 2.889)); // ~52px
$font-size-h3:              ceil(($font-size-base * 2.222)); // ~40px
$font-size-h4:              ceil(($font-size-base * 1.611)); // ~29px
$font-size-h5:              floor(($font-size-base * 1.556)); // ~28px
$font-size-h6:              ceil(($font-size-base * 1.333)); // ~24px

$line-height-base:          1.72222em; // 31/18

$headings-font-family:      inherit;
$headings-font-weight:      700;
$headings-line-height:      1.1;
$headings-color:            inherit;



/*---------------------------------
   Boxes
----------------------------------*/
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

$input-font-size-base:     $font-size-base;
$input-font-size-sm:       floor(($font-size-base * 0.867)); // ~13px
$input-font-size-lg:       ceil(($font-size-base * 1.133)); // ~17px

$input-line-height-base:   1.467; // ~22px
$input-line-height-sm:     1.462; // ~19px
$input-line-height-lg:     1.235; // ~21px

$input-height-sm:          35px;
$input-height-base:        41px;
$input-height-lg:          45px;